include/                    @CCALITA
shared/                     @CCALITA
toolchain/                  @CCALITA
modules/mc_memory/          @CCALITA
modules/mc_math/            @CCALITA
modules/mc_platform/        @CCALITA
modules/mc_render/          @CCALITA
modules/mc_world/           @CCALITA
modules/mc_worldgen/        @CCALITA
modules/mc_block/           @CCALITA
modules/mc_entity/          @CCALITA
modules/mc_mob_ai/          @CCALITA
modules/mc_physics/         @CCALITA
modules/mc_audio/           @CCALITA
modules/mc_ui/              @CCALITA
modules/mc_input/           @CCALITA
modules/mc_net/             @CCALITA
modules/mc_save/            @CCALITA
modules/mc_crafting/        @CCALITA
modules/mc_redstone/        @CCALITA
modules/mc_particle/        @CCALITA
modules/mc_command/         @CCALITA
modules/mc_main/            @CCALITA
